// ==========================================================================
// #Base
// ==========================================================================


*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #00d2ff; 
	background: -webkit-linear-gradient(to bottom, #00d2ff , #3a7bd5);
	background: linear-gradient(to top, #00d2ff , #3a7bd5); 
    height: 100%;
	box-shadow: 0px -26px 127px 13px rgba(0,0,0,0.75);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: monospace;
    padding: 0.7em;
  }
  

