// ==========================================================================
// #Menu
// ==========================================================================

//TODO: Refactor
.menu-scene {
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.menu-buttons {
    flex-direction: column;
    display: flex;
}

.menu-button {
    min-width: 200px;
    background: white;
    z-index: 100;
    position: relative;
    border-radius: 16px;
    margin-bottom: 24px;
    font-family: 'Chewy', cursive;
}

.menu-button-link {
    text-decoration: none;
    font-size: 1.5em;
    color: #2099b8;
    padding: 10px 20px;
    display: block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.align-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.height-100vh {
    height: 100vh;
}