// ==========================================================================
// #Layout: Global
// ==========================================================================

//TODO: Refactor
.container {
    max-width: 910px;
	margin: 0 auto;
    padding: 0 15px;
    height: 100vh;
}

.all-wrap {
    display: flex;
    flex-direction: column;
}

.all-wrapp {
    display: flex;
    flex-direction: row;
}

.level-scene__inner {
    display: flex;
    align-items: center;
    height: 100%;
}