// ==========================================================================
// Letter
// ==========================================================================


    
.error {
    color: darkred;
    background: pink;
}

.valid {
    color: #0e630e;
    background: #e7fbd3;
}

.clear {
    background: white;
}

.letter{
    width: 21px;
    height: 46px;
    margin: 0 2px;
    font-size: 35px;
    border-radius: 4px;
    white-space: nowrap;
}