
.lock {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 12px;
    position: relative;

    &:active {
        transition: 0.10s linear;
        transform: scale(0.8);
    }
}
.lock::before {
    content: "";
    width: 26px;
    height: 18px;
    border-radius: 40px 40px 0px 0px;
    border: 5px solid #555;
    border-bottom: none;
    position: absolute;
    top: -20px;
    left: 11px;
}
.key-hole {
    width: 13px;
    height: 13px;
    background-color: #555;
    border-radius: 20px;
    margin-top: 12px;
    position: relative;
}

.key-hole::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-bottom: 18px solid #555;
    position: absolute;
}